<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Portfolio</title>
	<!-- Bootstrap -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Portfolio Specific Style Sheet -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<header>
			<div class="row" id="header-top">
				<div class="col-md-3 col-xs-3 title-logo">
					<img src="images/graham_logo.png" class="icon-image">
				</div>
				<div class="col-md-9 col-xs-9 text-right">
					<h1 id="PersonName">GAWTBASS</h1>
					<content class="social-links">
						<a target="_blank" href="https://www.facebook.com/gawtbass/">
							<img src="/images/facebook.png" class="social-item">
						</a>
						<a target="_blank" href="https://soundcloud.com/gawtbass">
							<img src="/images/soundcloud.png" class="social-item">
						</a>
						<a target="_blank" href="https://twitter.com/gawtbass">
							<img src="/images/twitter.svg" class="social-item">
						</a>
						<a target="_blank" href="https://instagram.com/gawtbassofficial">
							<img src="/images/instagram.png" class="social-item">
						</a>
						<a target="_blank" href="https://twitch.tv/gawtbasstv">
							<img src="/images/twitch.png" class="social-item">
						</a>
					</content>
					<a href="#" id="menu">
           				 &#9776;
          			</a>
				</div>
			</div>
			<div class="row">
					<nav id="drawer" class="nav">
				      <ul class="nav__list">
				        <li class="nav__item active"><a href="#" id="home-link">Home</a></li>
				        <li class="nav__item"><a href="#" id="bio-link">Bio</a></li>
				      </ul>
		    		</nav>
	    	</div>
		</header>
		<section id="home-content" class="main-content">
			<section class="main-content-header">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<h3 id="featuredWorks">Featured Songs</h3>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="row text-center">
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                        	<h4>Uncursed</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/318120768&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Prime Time</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320802152&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Forward</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319752896&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Above</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/287374395&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Renew</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/311152485&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Artison</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314536549&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Party</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/288495518&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Anthem</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313649092&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
                            <h4>Day By Day</h4>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/288930572&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
					</article>
				</div>
			</section>
		</section>
		<!-- End home Content -->

		<section id="bio-content" class="main-content">
			<section class="main-content-header">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<h3 id="featuredWorks">Biography</h3>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="/images/bio.jpg">
					</div>
					<div class="col-sm-6">
					<p><b>Graham Gawthorpe</b> (GAWTBASS) currently living in Reno, NV has always had a strong passion for sounds and music. As he grew older he played in multiple bands playing various instruments and mastering the Cello, Guitar, Percussion and more by age 18. He taught guitar for a year then decided to take things to the next level and dive into the world of Bass Music &amp; Electronic Dance. Within his first year of producing Dubstep and Trap, he had already been signing to major labels and taking the top chart spots on The EDM Network (EDM.com) and Beatport. Year 3 of producing reaching over 150 thousand Soundcloud followers on his various accounts as well as his promotional networks and labels, while signing to more labels such as Dim Mak Records &amp; Kannibalen Records. Graham works hard every day expanding his life for the better to set an example as a leader not only through music, also through his insight and beliefs. Enjoy the music.</p>
					</div>
				</div>
			</section>
		</section>
		<!-- End Bio Content -->

	</div>

	<script type="text/javascript">
	var menu = document.querySelector('#menu');
	var drawer = document.querySelector('#drawer');
	var toggle_on = 0;
	if(!toggle_on) {
		menu.addEventListener('click', function(e) {
	  		drawer.classList.toggle('open');
	 		 e.stopPropagation();
		});
	}

	if(toggle_on) {
		menu.addEventListener('click', function(e) {
	   		drawer.classList.remove('open');
		});
	}

    document.getElementById("bio-content").style.display = "none";

    document.getElementById("home-link").addEventListener('click', function(e) {
      	var home_content = document.getElementById("home-content");
      	var bio_content = document.getElementById("bio-content");
      	home_content.style.display = "block";
      	bio_content.style.display = "none";
        drawer.classList.remove('open');
      });
      document.getElementById("bio-link").addEventListener('click', function(e) {
      	var home_content = document.getElementById("home-content");
      	var bio_content = document.getElementById("bio-content");
      	home_content.style.display = "none";
      	bio_content.style.display = "block";
        drawer.classList.remove('open');
      });

    $(document).ready(function() {
    	$(".nav__item").click(function(e) {
    		$(this).addClass("active").siblings().removeClass("active");
    	});
	});
    </script>
</body>
</html>